@model IEnumerable<InvoiceAutomation.Models.Invoice>

@{
    ViewData["Title"] = "GetAllAsync";
}

<style>
    /* Устанавливаем стили для всей страницы */
    body {
        font-family: Arial, sans-serif; /* Шрифт для всего текста */
        margin: 0; /* Убираем отступы на странице */
        padding: 0; /* Убираем внутренние отступы на странице */
        background-color: #f4f4f4; /* Цвет фона страницы */
    }

    /* Устанавливаем стили для заголовка h1 */
    h1 {
        color: #333; /* Цвет заголовка */
        text-align: center; /* Выравниваем заголовок по центру */
        padding: 20px 0; /* Добавляем отступы сверху и снизу для заголовка */
    }

    /* Устанавливаем стили для таблицы */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
        table-layout: fixed; /* Фиксируем ширину столбцов */
    }

    /* Устанавливаем стили для заголовков таблицы (th) */
    th {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        text-align: left;
        white-space: nowrap; /* Запрещаем перенос текста в заголовках */
    }

    /* Устанавливаем стили для ячеек таблицы (td) */
    td {
        padding: 10px;
        text-align: left;
        white-space: nowrap; /* Запрещаем перенос текста в ячейках */
        overflow: hidden; /* Скрываем содержимое, которое не помещается */
        text-overflow: ellipsis; /* Добавляем многоточие для обрезанного текста */
    }

    /* Устанавливаем стили для строк таблицы (tr) */
    tr:nth-child(even) {
        background-color: #f2f2f2; /* Цвет фона четных строк */
    }

    /* Устанавливаем стили для строк таблицы при наведении курсора */
    tr:hover {
        background-color: #ddd; /* Цвет фона строки при наведении курсора */
    }

    /* Устанавливаем стили для ссылок в ячейках таблицы */
    a {
        text-decoration: none; /* Убираем подчеркивание для ссылок */
        color: #007bff; /* Цвет ссылок */
    }

        /* Устанавливаем стили для ссылок в ячейках таблицы при наведении курсора */
        a:hover {
            text-decoration: underline; /* Подчеркиваем ссылки при наведении курсора */
        }

    .invoiceNumber {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .invoiceNumber label {
            min-width: 160px;
            font-weight: bold;
        }

        .invoiceNumber input {
            width: 60%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    .add-button {
        background-color: #0074d9;
        color: white;
        border: none;
        padding: 8px 16px;
        text-align: center;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

</style>

<form asp-action="List">

 <h1>GetAllAsync</h1>

    <div class="invoiceNumber">
        <label for="docNumber">Номер документа:</label>
        <input class="form-control" id="invoiceNumber" placeholder="Введите строку" />
        <button class="add-button" id="searchButton" type="button">Поиск накладной</button>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Of_Creation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accepted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Of_Creation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accepted)
            </td>
            <td>
                <a asp-controller="Invoice" asp-action="Details" asp-route-invoice_Number="@item.Invoice_Number">Детали</a>
                <a asp-action="Delete" asp-route-id="@item.Invoice_Number">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</form>
